*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    overflow-y: scroll;
}

body{
    background-color: black;
    font-family: sans-serif;
}

.icons{
    text-align: right;
}

.container_top{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: black;
}

.icon{
    text-align: right;
    background-color: grey;
    padding: 10px;
    font-size: 10px;
    margin-left: 2px;
    border-radius: 5px;
    color: white;
}

main{
    padding: 70px 0 120px;
}

.container_main{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagine{  
    width: 160px;
    margin: 2px 1px; 
    position: relative;
}

.imgg{
    width: 100%;
}

.container_foot{
    width: 100vw;
    height: 70px;
    background-color: grey;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
}

.name{
    position: absolute;
    left: 0;
    top: 89px;
    background-color: grey;
    color: white;
}

.container_foot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #222222;
}

.options ul{
    display: flex;
}

li{
    list-style: none;
}

.options{
    font-size: 20px;
    color: white;
    display: flex;
    margin-right: 10px;
}

i , .icon_bot{
    margin-right: 10px;
}

.right{
    background-color: #4A4A4A;
    font-size: 12px;
    line-height: 40px;
    padding: 5px;
    color: red;
}

.description, .sign{
    font-size: 10px;
}

.long{
    text-align: center;
}

.green{
    color: green;
}